<div *ngIf="!registerMode" class="container mt-5">
    <div style="text-align: center;">
        <p class="lead">Come on in view your matches... All you need to do is sin up! </p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg mr-sm-2" (click)="registerToggle()">Register</button>
            <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>
</div>
<div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
        <div class="col-4 mt-4">
               <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>